* {
    margin: 0;
    padding: 0;
}
html,body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    background: black;
}
canvas#lyricsCanvas {
  position: fixed;
  z-index: 0;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
  background-color: rgb(23, 20, 37);
  width: 80vw;
  height: auto;
  aspect-ratio: 16 / 9;
}
#control {
  background-color:rgba(210, 105, 30, 0.606);
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 20px;
  padding-bottom: 5px;
  width: 100vw;
  height: calc(100vh - 80vw*9/16); /* i want the height to be 100vh-canvasHeight  */
  z-index: 3;
  display: none;
}
#meta {
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: calc(20vw);/*make the width 100vw-canvasWidth*/
  background-color: rgba(0, 255, 255, 0.496);
}

.song-detail {
  padding: 20px;
}

#view {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow: hidden;
    cursor: pointer;
}


.view {
    display: none;
}

.active-view {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#loading {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: none;
}

#media {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 25;
    width: calc(80px + 16vmin);
}
#media > div > div.textalive-app-api-banner {
    max-width: initial !important;
    width: 100% !important;
    height: initial !important;
}

main{
  position: absolute;
  top: 2.5em;
  left: 2.5em;
  border-width: medium;
  border-style: solid;
  border-color: #fff;
}

#mainMenu {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#paraBg{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
/* .layer.shoot_star {
  animation: swing 3s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes swing {
  0%   { transform: rotate(0deg); }
  50%  { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
} */
.stars {
  background-image: url('/assets/Bg/Stars.png'); 
}
.shoot_star {
  background-image: url('/assets/Bg/Shooting_Star.png'); 
}
.sky {
  background-image: url('/assets/Bg/Sky.png'); 
}
.cloud_1 {
  background-image: url('/assets/Bg/Clouds_1.png'); 
  
}.cloud_2{
  background-image: url('/assets/Bg/Clouds_2.png'); 
  
}.cloud_3{
  background-image: url('/assets/Bg/Clouds_3.png'); 
  
}
.mountains {
  background-image: url('/assets/Bg/Mountain_1.png'); 
  
}
.mountain_bg {
  background-image: url('/assets/Bg/Mountain_2.png'); 
  
}
.tower {
  background-image: url('/assets/Bg/observation_tower.png'); 
  transform: translateZ(100px);
  background-repeat: no-repeat;
  background-size:25%;
  background-position: bottom right;
}
.gameMenu {
  position: absolute;
  left: 20px;
  top: 100px;
  width: 50%; height: 100%;
  z-index: 100;
}
.gameMenu ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.gameMenu ul li {
  background: #fff4;
  padding: 20px;
  margin-bottom: 10px;
  transition: background 0.5s ease;
  cursor: pointer;
}
.gameMenu ul li:hover {
  background: #fff8;
  transform: translateX(20px);
}

.lyrics-line {
  font-size: 1.5rem;
  
  transition: opacity 0.3s ease-in-out;
  color: #fff;
}

.star {
  z-index: 5;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  animation: glow 0.5s ease-in-out;
}

#seekbar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  background: rgb(38, 38, 39);
}

#seekbar > div {
  width: 0;
  height: 100%;
  background: rgba(255 255 255 / 80%);
}

@keyframes glow {
  0% {opacity: 0; transform: scale(0.5);}
  50% {opacity: 1; transform: scale(1.5);}
  100% {opacity: 0; transform: scale(0.5);}
}

/**
 * ビート情報が取れるようになったらビートバーを表示
 * Show beat bar when beat information becomes available
 */
@keyframes activateBeatBar {
  0% {
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

/**
 * ビート毎に右に広げてフェードアウト
 * Make beat bar span to the right and then fade out
 */
@keyframes showBeatBar {
  0% {
    width: 0;
    opacity: 1;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}


/* ビートバー / Beat bar */
#bar {
  opacity: 0;
  height: 3px;
  background: rgb(255 222 193);
}
#bar.active {
  animation: activateBeatBar 0.3s;
}
#bar.beat {
  animation: showBeatBar 0.5s;
}
